 /* Body 스타일 */
body {
    background-color: #ffffff;
    animation: fadeInBody 1s ease;
}

@keyframes fadeInBody {
    from { opacity: 0; }
    to { opacity: 1; }
}
.height{
		min-height: 900px;
}

/* 컨테이너 스타일 */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px 25px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    animation: fadeInContainer 1.2s ease;
}

@keyframes fadeInContainer {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* 제목 */
.nickChange-title {
    text-align: center;
    font-size: 28px;
    color: #FF2400;
    margin-bottom: 25px;
    font-weight: bold;
}

/* 폼 스타일 */
.nickChange-form {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
.nickTh{
		padding-left: 30px;
}
.nickChange-form td {
    padding: 10px;
    text-align: left;
}
.inline-block{
		padding-left: 20px;
}

/* 입력 필드 스타일 */
.nickChange {
   	width: 250px;
	  padding: 10px;
	  margin-top: 6px;
	  border: 1px solid #ccc;
	  border-radius: 6px;
	  font-size: 14px;
    transition: border-color 0.3s ease;
}

.nickChange:focus {
    border-color: #FF5E57;
    outline: none;
}

/* 입력 필드를 감싸는 래퍼 스타일 */
.input-wrapper {
    position: relative;
}

/* 버튼 스타일 */
.nickChangeBtn, .returnBtn {
    width: 45%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 2% 0;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.nickChangeBtn {
    background-color: #FF5E57;
    color: #F1F1F1;
}

.nickChangeBtn:hover {
    background-color: #E74C3C;
    transform: scale(1.05);
}

.returnBtn {
    background-color: #FF5E57;
    color: #F1F1F1;
}

.returnBtn:hover {
    background-color: #E74C3C;
    transform: scale(1.05);
}

/* 중복확인 */
.check-btn {
	margin-left : 10px;
  padding: 9px 14px;
  background-color: #FF5E57;
  border: none;
  border-radius: 6px;
  color: #F1F1F1;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.check-btn:hover {
  background-color: #E74C3C;
}

/* 에러 메시지 스타일 */
.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 20px;
  display: none;
}

.disabled-btn {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed !important;
}
