@charset "UTF-8";
/* 전체 레이아웃 스타일 */
body{
		margin: 0;
		padding: 0;
}
/* 컨테이너 스타일 */
    .container {
      max-width: 700px;
      margin: 60px auto;
      background: white;
      border-radius: 12px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
      padding: 40px 30px;
    }
		/* 제목 */
    h3 {
    	font-size : 30px;
    	font-weight : bold;
      text-align: center;
      margin-bottom: 30px;
      color: #333;
    }
		/* 테이블 */
    table {
      width: 100%;
      border-collapse: collapse;
      vertical-align: middle;
    }

    th {
      text-align: left;
      padding: 12px 10px;
      color: #444;
      vertical-align: middle;
      width: 30%;
    }

    td {
      padding: 12px 10px;
    }
		/* 아이디,비밀번호,닉네임 */
		#memberId,#memberPwd,#memberPwdCheck,#memberNickName,#memberName{
			width: 250px;
      padding: 10px;
      margin-top: 6px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
		}
		/* 이메일 */
		#memberEmail1,#memberEmail2 {
			width: 130px;
      padding: 8px;
      margin-top: 6px;
      margin-right : 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
      text-align: center;
		}
		.emailSelect{
   	 	width: 130px;
      padding: 7px;
      margin-top: 6px;
      margin-right : 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
    }
		
		/* 전화번호 */
		#tel2,#tel3{
			width: 100px;
      padding: 8px;
      margin-top: 6px;
      margin-left : 5px;
      margin-right : 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
      text-align: center;
		}
    .telSelect{
   	 	width: 80px;
      padding: 7px;
      margin-top: 6px;
      margin-right : 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
    }
    
		/* 중복확인 */
		.check-btn {
			margin-left : 10px;
		  padding: 9px 14px;
		  background-color: gray;
		  border: none;
		  border-radius: 6px;
		  color: white;
		  font-size: 13px;
		  cursor: pointer;
		  transition: background-color 0.2s ease;
		}
		.check-btn:hover {
		  background-color: pink;
		}
		/* 좋아하는 팀 */
    .teamSelect {
      width: 100px;
      padding: 7px;
      margin-top: 6px;
      margin-right : 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
    }
		/* 성별,광고성수신  */
    .radio-group {
      display: flex;
      gap: 20px;
      margin-top: 8px;
    }
    
    /* 회원가입 버튼 */
		.join-form {
		  text-align: center;
		  margin-top: 40px;
		}
		
		.joinBtn {
		  background: gray;
		  color: white;
		  border: none;
		  padding: 14px 30px;
		  font-size: 18px;
		  font-weight: bold;
		  border-radius: 10px;
		  cursor: pointer;
		  transition: all 0.3s ease;
		  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
		}
		
		.joinBtn:hover {
		  background: pink;
		  transform: translateY(-2px);
		  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
		}