<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springProject4.dao.AdDao">
	<select id="getAdVo" resultType="com.spring.springProject4.vo.AdvertisementVo">
		select * from advertisement where title = #{title};
	</select>
	
	<select id="getAdVos" resultType="com.spring.springProject4.vo.AdvertisementVo">
		select * from advertisement;
	</select>
	
	<select id="getAdUrl" resultType="String">
		select link_url from advertisement where idx = #{idx};
	</select>
	
	
	
	
	
	<insert id="setCreateAdReport">
		insert into report values(default, #{sMemberId}, 'advertisement', #{idx}, #{reason}, default, default, default, default, default, default, default, default, default, default, default);
	</insert>
	
	
	
	
	
	<update id="setUpdateAdReportCnt">
		update advertisement set report_count = report_count + 1 where idx = #{idx};
	</update>
	
	<update id="setAdClick">
		update advertisement set click_count = click_count + 1 where idx = #{idx};
	</update>
	
</mapper>