<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springProject4.dao.AdminDao">

	<select id="getDailyVisitCnt" resultType="int">
		select count(*) from visit where date(visit_date) = curdate();
	</select>
	
	<select id="yesterdayVisitCnt" resultType="int">
		select count(*) from visit where date(visit_date) = date_sub(curdate(), interval 1 day);
	</select>
	
	<select id="getDailyWriteBoardCnt" resultType="int">
		select count(*) from board where date(created_at) = curdate();
	</select>
	
	<select id="yesterdayBoardCnt" resultType="int">
		select count(*) from board where date(created_at) = date_sub(curdate(), interval 1 day);
	</select>
	
	<select id="getDailyJoinCnt" resultType="int">
		select count(*) from member where date(start_date) = curdate();
	</select>
	
	<select id="yesterdayJoinCnt" resultType="int">
		select count(*) from member where date(start_date) = date_sub(curdate(), interval 1 day);
	</select>
	
	<select id="getDailyAdClickCnt" resultType="int">
		select count(*) from advertisement where date(start_at) = curdate();
	</select>
	
	<select id="yesterdayAdCnt" resultType="int">
		select count(*) from advertisement where date(start_at) = date_sub(curdate(), interval 1 day);
	</select>
	
	<select id="getRecentlyChartCount" resultType="com.spring.springProject4.vo.ChartVo">
		<if test="legend == 'visit'">
			select date(visit_date) as chartDate, visit_count as chartCount from visit order by visit_date desc limit #{day};		
		</if>
		<if test="legend == 'board'">
			select date(created_at) as chartDate, count(*) as chartCount from board group by date(created_at) order by date(created_at) desc limit #{day};		
		</if>
		<if test="legend == 'join'">
			select date(start_date) as chartDate, count(*) as chartCount from member group by date(start_date) order by date(start_date) desc limit #{day};		
		</if>
		<if test="legend == 'ad'">
			select date(start_at) as chartDate, count(*) as chartCount from advertisement group by date(start_at) order by date(start_at) desc limit #{day};		
		</if>
	</select>
	
	<select id="getBoardTotRecCntSearch" resultType="int">
    	select count(*) from board where ${search} like concat('%', #{searchString}, '%') <if test="startDate != ''">and (created_at between #{startDate} and #{lastDate})</if>;
  	</select>
	
	<select id="getBoardVos" resultType="com.spring.springProject4.vo.BoardVo">
		select * ,datediff(created_at, now()) as dateDiff,
  	    timestampdiff(hour, created_at, now()) as hourDiff
		from board b <if test="category != '전체' || search !='' || startDate != ''">where</if> <if test="category != '전체' || search !=''"><if test="category != '전체'"> category_name = #{category}<if test="search !=''"> and</if></if><if test='search !=""'>${search} like concat('%',#{searchString},'%')</if></if> <if test="startDate != ''"><if test="category != '전체' || search !=''">and</if> (created_at between #{startDate} and #{lastDate})</if> order by idx desc limit #{startIndexNo},#{pageSize};
	</select>

</mapper>