<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springProject4.dao.CommunityDao">
	<select id="getMainCategoryList" resultType="com.spring.springProject4.vo.CategoryVo">
		select * from category where parent_name is null;
	</select>
	<select id="getSubCategoryList" resultType="com.spring.springProject4.vo.CategoryVo">
		select * from category where parent_name = #{pName};
	</select>
    <select id="getBoardTotRecCnt" resultType="int">
	  	select count(*) from board;
	</select>
	<select id="getBoardTotRecCntSearch" resultType="int">
    	select count(*) from board where ${search} like concat('%',#{searchString},'%');
  	</select>
	
	<select id="getBoardList" resultType="com.spring.springProject4.vo.BoardVo">
		select * from board<if test="category != '전체' || search !=''"> where<if test="category != '전체'"> category_name = #{category}<if test="search !=''"> and</if></if><if test="category == '전체'"> and</if><if test='search !=""'> ${search} like concat('%',#{searchString},'%')</if></if> order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	
	
</mapper>