<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springProject4.dao.MemberDao">
	<select id="getMemberIdCheck" resultType="com.spring.springProject4.vo.MemberVo">
		select * from member where memberId = #{memberId};
	</select>
	
	<select id="getMemberById" resultType="com.spring.springProject4.vo.MemberVo">
		select * from member where memberId = #{memberId};
	</select>
	
	<select id="getMemberNickCheck" resultType="com.spring.springProject4.vo.MemberVo">
		select * from member where nickName = #{nickName};
	</select>
	
	<select id="getMemberEmailCheck" resultType="com.spring.springProject4.vo.MemberVo">
		select * from member where email = #{email};
	</select>
	

	<insert id="setMemberJoinOk">
	insert into member (
		memberId, password, nickName, name, gender, tel, address, email, likeTeam, icon, content, birthday, userInfo, userDelete, 
		point, level, visit_count, board_count, comment_count, report_count, warning_count, ip, start_date, last_date
	)
	values (
		#{vo.memberId}, #{vo.password}, #{vo.nickName}, #{vo.name}, #{vo.gender}, #{vo.tel}, #{vo.address}, #{vo.email}, #{vo.likeTeam}, #{vo.icon}, #{vo.content},
		#{vo.birthday}, #{vo.userInfo}, default, default, default, default, default, default, default, default, #{vo.ip}, default, default
	);
	</insert>

  
	
	
	<update id="setMemberVisitCount">
		update member set visitCount=0 where memberId = #{memberId};
	</update>
	
	<update id="setMemberPoint">
		update member set point = point + #{point} where memberId = #{memberId};
	</update>
	
	<update id="setMemberUpdateOk">
		update member set name=#{vo.name}, gender=#{vo.gender}, tel=#{vo.tel}, address=#{vo.address}, email=#{vo.email}, likeTeam=#{vo.likeTeam}, 
											icon=#{vo.icon}, content=#{vo.content}, birthday=#{vo.birthday}, userInfo=#{vo.userInfo}
											where memberId=#{vo.memberId};
	</update>
	
	<update id="setMemberPwdChange">
		update member set  password = #{pwd} where memberId = #{memberId};
	</update>
	
	<delete id="deleteMemberById">
		delete from member where memberId = #{memberId}
	</delete>
</mapper>