<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springProject4.dao.TeamPlayerRecordDao">
   <!-- 전체 팀 타자 기록 조회 -->
    <select id="getAllPlayerStats" resultType="com.spring.springProject4.dto.TeamPlayerRecordDto">
        SELECT * FROM team_hitter_stats
    </select>

    <!-- 특정 팀과 연도의 기록 조회 -->
    <select id="findExistingRecord" resultType="com.spring.springProject4.dto.TeamPlayerRecordDto">
        SELECT *
        FROM team_hitter_stats
        WHERE team_name = #{teamName}
          AND year = #{year}
    </select>
    
    <select id="getAverageByYear" resultType="com.spring.springProject4.dto.TeamPlayerRecordDto">
        SELECT 
            year,
            AVG(
                <choose>
                    <when test="field == 'games'">games</when>
                    <when test="field == 'tasuk'">tasuk</when>
                    <when test="field == 'at_bats'">at_bats</when>
                    <when test="field == 'runs'">runs</when>
                    <when test="field == 'hits'">hits</when>
                    <when test="field == 'doubles'">doubles</when>
                    <when test="field == 'triples'">triples</when>
                    <when test="field == 'total_bases'">total_bases</when>
                    <when test="field == 'rbi'">rbi</when>
                    <when test="field == 'home_runs'">home_runs</when>
                    <when test="field == 'stolen_bases'">stolen_bases</when>
                    <when test="field == 'stolen_bases_fail'">stolen_bases_fail</when>
                    <when test="field == 'bb'">bb</when>
                    <when test="field == 'strikeouts'">strikeouts</when>
                    <when test="field == 'double_plays'">double_plays</when>
                    <when test="field == 'sac_hits'">sac_hits</when>
                    <when test="field == 'sac_flies'">sac_flies</when>
                    <when test="field == 'avg'">avg</when>
                    <when test="field == 'obp'">obp</when>
                    <when test="field == 'slg'">slg</when>
                    <when test="field == 'ops'">ops</when>
                    <when test="field == 'war'">war</when>
                    <otherwise>0</otherwise>
                </choose>
            ) AS value
        FROM team_hitter_stats
        WHERE year BETWEEN #{startYear} AND #{endYear}
        GROUP BY year
        ORDER BY year
    </select>
    

    
    <!-- 기록 삽입 -->
    <insert id="insertPlayerStats">
        INSERT INTO team_hitter_stats (
            team_name, team_logo, year, games, tasuk, at_bats, runs,
            hits, doubles, triples, total_bases, rbi, home_runs, stolen_bases,
            stolen_bases_fail, bb, strikeouts, double_plays, sac_hits,
            sac_flies, avg, obp, slg, ops, war
        ) VALUES (
            #{dto.teamName}, #{dto.teamLogo}, #{dto.year}, #{dto.games},
            #{dto.tasuk}, #{dto.atBats}, #{dto.runs}, #{dto.hits}, #{dto.doubles},
            #{dto.triples}, #{dto.totalBases}, #{dto.rbi}, #{dto.homeRuns},
            #{dto.stolenBases}, #{dto.stolenBasesFail}, #{dto.bb}, #{dto.strikeouts},
            #{dto.doublePlays}, #{dto.sacHits}, #{dto.sacFlies},
            #{dto.avg}, #{dto.obp}, #{dto.slg}, #{dto.ops}, #{dto.war}
        )
    </insert>

    <!-- 기록 업데이트 -->
    <update id="updatePlayerStats">
        UPDATE team_hitter_stats SET
            team_logo = #{dto.teamLogo},
            games = #{dto.games},
            tasuk = #{dto.tasuk},
            at_bats = #{dto.atBats},
            runs = #{dto.runs},
            hits = #{dto.hits},
            doubles = #{dto.doubles},
            triples = #{dto.triples},
            total_bases = #{dto.totalBases},
            rbi = #{dto.rbi},
            home_runs = #{dto.homeRuns},
            stolen_bases = #{dto.stolenBases},
            stolen_bases_fail = #{dto.stolenBasesFail},
            bb = #{dto.bb},
            strikeouts = #{dto.strikeouts},
            double_plays = #{dto.doublePlays},
            sac_hits = #{dto.sacHits},
            sac_flies = #{dto.sacFlies},
            avg = #{dto.avg},
            obp = #{dto.obp},
            slg = #{dto.slg},
            ops = #{dto.ops},
            war = #{dto.war}
        WHERE team_name = #{dto.teamName}
          AND year = #{dto.year}
    </update>


</mapper>
